
<br>

<article id="content">
  <h1>Welcome to Purr-fect Paws: Your Feline Guide! </h1>
  <p>Discover a world of whiskers, purrs, and endless charm as you embark on a delightful journey through the enchanting realm of cat breeds. From the majestic long-haired fluffballs to the charismatic short-haired companions, our website is your one-stop destination for all things feline! Uncover the unique personalities, colors, and features that make each breed a true gem. Whether you're a seasoned cat enthusiast or a curious beginner, let us whisk you away into the heartwarming world of cats, where every pawprint tells a captivating tale. <b>Meow-velous adventures await! 😻</b></p>
</article>
<br><br>

<!-- Search -->
<form action="/search" method="post">
    <!-- Search -->
    <div id="search" class="searchBreeds">
        <label for="searchInput">Find Your Purr-fect Match:</label>
        <input type="text" id="searchInput" name="searchTerm" placeholder="Search by breed name">
        <button id="searchButton" type="submit">Go</button>
    </div>
</form>
<br><br>

