
<br>

<p>Sorry, no matching results found.</p>

<!-- Search -->
<form action="/search" method="post">
    <!-- Search -->
    <div id="search" class="searchBreeds">
        <label for="searchInput">Find Your Purr-fect Match:</label>
        <input type="text" id="searchInput" name="searchTerm" placeholder="Search by breed name">
        <button id="searchButton" type="submit">Go</button>
    </div>
</form>

<br><br>

